body{
    background-color: rgb(0, 1, 17);
}

.fotorosto {

}

.dprincipal {
    flex: 1;
    background: url("./imagens/fotocara.png");
    background-repeat: no-repeat;
    background-size: 100%;
    

}

.dorgnz {
    flex: 1;
    width: 35%;
    align-items: center;
    padding: 100px 0 100px 40px ;
    
}

.dcombo {
    text-align: center;
    padding: 15px;
}

.dtcombo {
    color:aliceblue;
    text-align: center; 
    padding: 15px;
}

.db12x {
    color: aliceblue;
    font-size: 18px;
  font-weight: 600;
  background-color: rgb(16, 167, 255);
  border-radius: 5px;
  border: 0;
  padding: 10px 60px;
  cursor: pointer;
  margin: 10px;
}
.divbts {
    width: 80%;
    margin-left: 55px;
}

.bt {
    flex: 1;
    width: 100%;
}

.dbass {
    color: aliceblue;
    font-size: 18px;
  font-weight: 600;
  background-color: black;
  border-radius: 5px;
  border: 2;
  padding: 10px 60px;
  cursor: pointer;
  margin: 10px;
}

.dtvr {
color: grey;
text-align: center;

}
*{
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
}

.dorgnz2 {
    flex: 1;
    width: 35%;
    align-items: center;
    padding: 200px 0 100px 850px ;
}

.dh1p2 {
    color: aliceblue;
    width: 110%;
}

.dorgnz3 {
    flex: 1;
    width: 35%;
    align-items: center;
    padding: 200px 0 100px 850px ;
}

.dpp2 {
    color: gray;
}

.dpp3 {
   color: gray; 
   position: absolute;
   top: 1400px;
}

.dcomp2 {
    position: absolute; left: 300px;
}                                   

.dletracomps2 {
    position: absolute; left: 950px;  top: 125%;
}

.dassinatura {
    position: absolute; top: 190%; left: 175px;
}

.dtelas {
    position: absolute; top: 190%; left: 175px;
}

.dnot {
    position: absolute; top: 400%; left: 175px;
}